html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", "Helvetica", sans-serif;
  margin: 0;
  padding: 0;
}
a {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style: none;
}

h2 {
  color: #007765;
  font-size: 64px;
  text-align: center;
  margin: 0;
  padding: 0 55px;
}

p {
  font-size: 32px;
  padding: 0 55px;
}

header {
  position: fixed;
  height: 84px;
  width: 100%;
  background-color: #007765;
  color: #fff;
  transform: translateY(-48px);
  z-index: 999;
}
.fixed_container {
  max-width: 1219px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 55px;
}

.header_content img {
  float: left;
  padding-top: 2px;
}

.header_content li {
  float: right;
  margin: 0 5px;
  font-weight: 400;
  font-size: 24px;
  padding-top: 10px;
  box-sizing: border-box;
}

.intro {
  background-image: url(img/image.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 403px;
  box-sizing: border-box;
}
h1.intro-text {
  font-size: 72px;
  color: #fff;
  text-align: center;
  transform: translateY(200%);
}

.problem {
  background-color: #eeeeee;
  width: 100%;
  padding: 50px 0;
}




.hero {
  background-image: url(img/Hero.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 483px;
  box-sizing: border-box;
  padding: 130px 270px;
  text-align: center;
}

.hero span {
  font-size: 48px;
  font-style: italic;
  color: #fff;
}

.intro_coin {
  background-color: #fff;
  width: 100%;
  padding: 50px 0;
}

.intro_coin img {
  float: left;
  margin: 25px 55px 0 55px;
}

.team {
  background-color: #eeeeee;
  width: 100%;
  padding: 50px 0;
}

.team_card {
  margin-left: auto;
  margin-right: auto;
}

figure {
  text-align: center;
  display: inline-block;
  width: 26%;
  padding: 50px 0;
}

.team_name {
  color: #007765;
  font-weight: bold;
  font-size: 24px;
}

.team_post {
  color: black;
  font-style: italic;
  font-size: 18px;
}

footer {
  background-color: #333333;
  height: 176px;
}
.footer-text p {
  font-size: 18px;
  width: 540px;
  color: #fff;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
  transform: translateY(3.5em);
}
